<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Lifestyle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   

  </welcome-file-list>


 
 <servlet>
 <servlet-name>abc</servlet-name>
 <servlet-class>com.tryme.LoginSample</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>abc</servlet-name>
 <url-pattern>/LoginSample</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>cc</servlet-name>
 <servlet-class>com.tryme.Register</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>cc</servlet-name>
 <url-pattern>/servlet/Register</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>def</servlet-name>
 <servlet-class>com.tryme.LoginServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>def</servlet-name>
 <url-pattern>/login</url-pattern>
 </servlet-mapping>


<servlet>
 <servlet-name>ghi</servlet-name>
 <servlet-class>com.tryme.AaboutmeServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>ghi</servlet-name>
 <url-pattern>/aaboutme </url-pattern>
 </servlet-mapping>

</web-app>
 
 
 



